.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .panel-container {
  opacity: 0;
  transition: flex-grow 0.25s, opacity 0.25s;
  flex-grow: 0.1;
}
.home .panel-container.shown {
  opacity: 1;
  flex-grow: 1;
}
