* { box-sizing: border-box; }

html, body, #root { height: 100%; }
a { cursor: pointer; color: slateblue; text-decoration: none; } a:hover { text-decoration: underline; }
.pay { background-color: cornflowerblue; border-radius: 10px; box-shadow: 0 0 20px hotpink; color: white; margin-top: 2em; padding: .2em .8em; cursor: pointer; }
.hello { height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
