.diagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create.box {
  padding: 1em 1.2em;
  border: 1px dashed silver;
  color: silver;
  display: inline-block;
  font-size: 4em;
}
.create.box:hover {
  border-color: slateblue;
  color: slateblue;
  font-weight: bold;
  cursor: pointer;
}
hr {
  border: 0;
  margin: 0;
  color: hotpink;
  background-color: hotpink;
}
